.nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  left: 0;
  justify-content: space-around;
  padding: 1.5rem;
  background: white;
  align-items: center;
}

.nav .right {
  display: inherit;
  justify-content: right;
}

.nav .center {
  text-align: center;
  gap: 30px;
  display: grid;
  grid-auto-flow: column;
}

.nav img {
  width: 32px;
  height: 32px;
}

nav .right > a:nth-child(2) {
  margin-left: 16px;
}

@media (max-width: 600px) {
  .nav {
    padding: 1.5rem;
  }
  .nav > a img:first-of-type {
    margin: 0;
  }
  .nav .center {
    gap: 40px;
  }
}
